
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
   
    font-family:var(--primary);
}
:root{
    --primary: "Open Sans", sans-serif;
    --secondary:"Metal Mania",system-ui;
    --color:#EEEEEE;
    --color1:#AF8F6F;
    --color2:#74512D;
    --color3:#543310;
}
body{
    background-color: var(--color1);
    font-size: 1.6rem;
}
.header{
    background-color: var(--color);
    width:100%;
    display: grid;
    place-content: center;
    
}
.home-items{
    width:100%;
    align-items: center;
    display: grid;
    place-content: center;
    
}
.footer{
    display: grid;
    place-content: center;
    width: 100%;
    background-color:var(--color);
    height: 14vh;
}